# SDModels API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# Optional: WebSocket URL
NEXT_PUBLIC_WS_URL=ws://localhost:8000/api/v1/ws

# Optional: CDN URL for assets
NEXT_PUBLIC_CDN_URL=https://cdn.sdmodels.com

# Optional: Analytics
NEXT_PUBLIC_GA_ID=

# Paystack Configuration
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_62d6a1c731ffc99c8c9aa7f9eb44a90253afd9c8
